{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4">All Projects</h2>

    <form method="GET" class="mb-3">
    <div class="row g-2">
        <div class="col-md-4">
            <select name="status" class="form-select">
                <option {% if not request.GET.status %}selected{% endif %} value="">-- All Status --</option>
                <option {% if request.GET.status == 'Planned' %}selected{% endif %} value="Planned">Planned</option>
                <option {% if request.GET.status == 'Ongoing' %}selected{% endif %} value="Ongoing">Ongoing</option>
                <option {% if request.GET.status == 'Completed' %}selected{% endif %} value="Completed">Completed</option>
                <option {% if request.GET.status == 'Cancelled' %}selected{% endif %} value="Cancelled">Cancelled</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-dark w-100">Filter</button>
        </div>
    </div>
</form>


    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Client</th>
                <th>Status</th>
                <th>Start</th>
                <th>End</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></td>
                <td>{{ project.client_name }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.end_date }}</td>
                <td>{{ project.created_by }}</td>
                <td>
                    <a href="{% url "edit_project" project.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a href="{% url "delete_project" project.pk %}" class="btn btn-sm btn-outline-primary">Delete</a>
                    <a href="{% url 'upload_document' project.pk %}" class="btn btn-sm btn-secondary">Upload Doc</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No projects found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_project' %}" class="btn btn-success">➕ Add New Project</a>
</div>
{% endblock %}
